*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr auto;
    background-image: url(../Images/movies_collage.jpg);
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: color;
    overflow-x: hidden;
}

.mainText{
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.4);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: clamp(300px, 30vw, 400px);
    padding: 5px 1em;
    padding-bottom: 100px;
    text-align: right;
    top: 0;
    right: 0;
    align-self: start;
    transition: 400ms ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    text-wrap: wrap;
    border-left: 2px solid;
    position: relative;
    background-color: white;
}

#sidebar.close{
    padding: 5px;
    width: 60px;
    border: none;
}

#sidebar ul{
    list-style: none;
}

#sidebar ul li:first-child{
    display: flex;
    justify-content: flex-start;
}

#sidebar ul li:not(:first-child){
    transition: opacity 200ms ease-in-out, visibility 0s 200ms;
}

#sidebar.close ul li:not(:first-child){
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}

#sidebar .dropdown-btn, #sidebar .toggle-btn{
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    display: flex;
    align-items: center;
    background-color: white;
    gap: 1em
}

.dropdown-btn {
    width: auto;
    text-align: end;
    background: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1em;
}

.dropdown-btn span{
    flex-grow: 1;
    transition: 400ms ease;
}

#sidebar .dropdown-btn:hover{
    background-color: hsl(0, 3%, 75%);
}

#sidebar .genre-checkboxes{
    list-style: none;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    transition: max-height 400ms ease-in-out, opacity 400ms ease-in-out, margin-top 400ms ease-in-out;
    padding-right: 1em;
    gap: 5px 20px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

#sidebar .yearRange{
    list-style: none;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    transition: max-height 400ms ease-in-out, opacity 400ms ease-in-out, margin-top 400ms ease-in-out;
    padding-right: 1em;
    gap: 5px 20px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    justify-items: center;
}

#sidebar .genre-checkboxes.show, #sidebar .yearRange.show{
    max-height: 1000px;
    opacity: 1;
}

#sidebar .genre-checkboxes label, #sidebar .yearRange label{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.rotate span:last-child{
    rotate: 90deg;
}

#toggle-btn{
    margin-right: auto;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background: none;
    cursor: pointer;
}

#toggle-btn span{
    transition: rotate 400ms ease
}

#toggle-btn:hover{
    background-color: hsl(0, 3%, 75%);
}

#sidebar ul li{
    margin-bottom: 20px;
}

#sidebar .submit{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    border: none;
    border-radius: 5px;
    background-color: hsl(153, 95%, 55%);
    color: black;
    cursor: pointer;
    padding: 0.5em 2em;
    font-size: clamp(1.2em, 2vw, 1.5em);
}

#sidebar .submit:hover{
    background-color: hsl(153, 95%, 65%);
}

.selectionTypes{
    width: fit-content;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin: 0 auto 10px auto;
    grid-column: 1 / -1;
}

.selectionTypes input{
    display: none;
}

.selectionTypes label{
    padding: 10px 16px;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    text-align: center;
}

.selectionTypes label:last-of-type{
    border-right: 0;
}

.selectionTypes label:hover{
    background: hsl(153, 95%, 65%);
}

.selectionTypes input:checked + label{
    background: hsl(153, 95%, 55%);
}

input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

input[type="checkbox"]:hover {
  background-color: hsl(153, 95%, 65%);
}

input[type="checkbox"]:checked {
  background-color: hsl(153, 95%, 55%);
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: clamp(1em, 5vw, 4em);
}

.slider-wrapper {
    position: relative;
    max-width: clamp(12em, 25vw, 15em);
}

.slider {
    display: flex;
    aspect-ratio: 2 / 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5em 3rem -0.75em hsla(0, 0%, 0%, 0.25);
    scrollbar-width: none;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1em;
    position: absolute;
    bottom: 1.25em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slideControl {
    color: white;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}