*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgb(255, 255, 255);
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 40vh;
    padding: 5px 1em;
    text-align: right;
    position: sticky;
    top: 0;
    right: 0;
    align-self: start;
    transition: 400ms ease-in-out;
    overflow: hidden;
    text-wrap: wrap;
    border-left: 2px solid;
    position: relative;
}

#sidebar.close{
    padding: 5px;
    width: 60px;
    border: none;
}

#sidebar ul{
    list-style: none;
}

#sidebar ul li:first-child{
    display: flex;
    justify-content: flex-start;
}

#sidebar ul li:not(:first-child){
    transition: opacity 200ms ease-in-out, visibility 0s 200ms;
}

#sidebar.close ul li:not(:first-child){
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}

#sidebar .dropdown-btn, #sidebar .toggle-btn{
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    display: flex;
    align-items: center;
    background-color: white;
    gap: 1em
}

.dropdown-btn {
    width: auto;
    text-align: end;
    background: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1em;
}

.dropdown-btn span{
    flex-grow: 1;
    transition: 400ms ease;
}

#sidebar .dropdown-btn:hover{
    background-color: hsl(0, 3%, 75%);
}

#sidebar .genre-checkboxes, #sidebar .yearRange{
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: max-height 400ms ease-in-out, opacity 400ms ease-in-out, margin-top 400ms ease-in-out;
    padding-right: 1em;
    gap: 5px 20px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

#sidebar .genre-checkboxes.show, #sidebar .yearRange.show{
    max-height: 1000px;
    opacity: 1;
}

#sidebar .genre-checkboxes label, #sidebar .yearRange label{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.rotate span:last-child{
    rotate: 90deg;
}

#toggle-btn{
    margin-right: auto;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background: none;
    cursor: pointer;
}

#toggle-btn span{
    transition: rotate 400ms ease
}

#toggle-btn:hover{
    background-color: hsl(0, 3%, 75%);
}

#sidebar ul li{
    margin-bottom: 20px;
}

#sidebar .submit{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 5px;
    background-color: hsl(153, 95%, 55%);
    color: black;
    cursor: pointer;
    padding: 0.5em 2em;
    font-size: 1.5em;
}

#sidebar .submit:hover{
    background-color: hsl(153, 95%, 65%);
}

.selectionTypes{
    width: fit-content;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin-bottom: 10px;
    grid-column: 1 / -1;
}

.selectionTypes input{
    display: none;
}

.selectionTypes label{
    padding: 10px 16px;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    text-align: center;
}

.selectionTypes label:last-of-type{
    border-right: 0;
}

.selectionTypes label:hover{
    background: hsl(153, 95%, 65%);
}

.selectionTypes input:checked + label{
    background: hsl(153, 95%, 55%);
}