{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content%}
<br />
<div align="center">
    <form method="POST">
        <div class="form-group">
            <label for="genres">Select Genre
                <span id="genreArrow" style="cursor: pointer;">&#9655;</span>
            </label>
            <label for="years">Year Range
                <span id="yearArrow" style="cursor: pointer;">&#9655;</span>
            </label>
            <label for="movieCount">Number of Recommendations
                <span id="countArrow" style="cursor: pointer;">&#9655;</span>
            </label>

            <div id="genreCheckboxes" style="display: none;">
                <input type="checkbox" id="AnySelected" name="AnySelected" value="AnySelected" checked>Any Selected
                <input type="checkbox" id= "AllSelected" name="AllSelected" value="AllSelected">All Selected<br>
                <input type="checkbox" id="Any" name="genres" value="Any" checked>Any
                <input type="checkbox" name="genres" value="Action">Action
                <input type="checkbox" name="genres" value="Adventure">Adventure
                <input type="checkbox" name="genres" value="Animation">Animation
                <input type="checkbox" name="genres" value="Children">Children<br>
                <input type="checkbox" name="genres" value="Comedy">Comedy
                <input type="checkbox" name="genres" value="Crime">Crime
                <input type="checkbox" name="genres" value="Documentary">Documentary
                <input type="checkbox" name="genres" value="Drama">Drama
                <input type="checkbox" name="genres" value="Fantasy">Fantasy<br>
                <input type="checkbox" name="genres" value="Film-Noir">Film-Noir
                <input type="checkbox" name="genres" value="Horror">Horror
                <input type="checkbox" name="genres" value="Musical">Musical
                <input type="checkbox" name="genres" value="Mystery">Mystery
                <input type="checkbox" name="genres" value="Romance">Romance<br>
                <input type="checkbox" name="genres" value="Sci-Fi">Sci-Fi
                <input type="checkbox" name="genres" value="Thriller">Thriller
                <input type="checkbox" name="genres" value="War">War
                <input type="checkbox" name="genres" value="Western">Western
            </div>

            <br>

            <div id="yearRanges" style="display: none;">
                <label for="startYear">Start Year:</label>
                <input type="number" id="startYear" name="startYear" min="1800" max="2100">
                <label for="endYear">End Year:</label>
                <input type="number" id="endYear" name="endYear" min="1800" max="2100">
            </div>

            <br>

            <div id="movieCount" style="display: none;">
                <input type="number" id="movieCount" name="movieCount" min="1" max="100">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Get Recommendations</button>
    </form>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Movie Title</th>
            <th>Expected Rating</th>
            <th>Genres</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for rec in recommendations %}
        <tr>
            <td>{{ rec.Movie }}</td>
            <td>{{ rec['Expected Rating']|round(2) }}/5.0</td>
            <td>{{ rec['genres'] }}</td>
            <td>{{ rec['year'] | int}}</td>
            <td>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <button class="save-recommendation" 
                        data-movie="{{ rec.Movie }}" 
                        data-rating="{{ rec['Expected Rating']|round(2) }}"
                        data-genres="{{ rec['genres'] }}"
                        data-year="{{ rec['year'] }}">
                        <i class="fas fa-bookmark"></i>
                    </button>
                    <button class="close" data-movie="{{ rec.Movie }}" title="Delete">
                        <i class="fas fa-trash"></i>
                    </button>
                    <button class="close" data-movie="{{ rec.Movie }}" title="Watched">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    const genreArrow = document.getElementById('genreArrow');
    const yearArrow = document.getElementById('yearArrow');
    const countArrow = document.getElementById('countArrow');
    const anyCheckbox = document.getElementById('Any');
    const anySelectedCheckbox = document.getElementById('AnySelected');
    const allSelectedCheckbox = document.getElementById('AllSelected');
    const genreCheckboxes = document.querySelectorAll('input[name="genres"]:not(#Any, #AnySelected, #AllSelected)');

    genreArrow.addEventListener('click', () => {
        const genreCheckboxes = document.getElementById('genreCheckboxes');
        if (genreCheckboxes.style.display === 'none') {
            genreCheckboxes.style.display = 'block';
            genreArrow.innerHTML = '&#9660;';
        } else {
            genreCheckboxes.style.display = 'none';
            genreArrow.innerHTML = '&#9655;';
        }
    })

    yearArrow.addEventListener('click', () => {
        const yearRangesDiv = document.getElementById('yearRanges');
        if (yearRangesDiv.style.display === 'none') {
            yearRangesDiv.style.display = 'block';
            yearArrow.innerHTML = '&#9660;';
        } else {
            yearRangesDiv.style.display = 'none';
            yearArrow.innerHTML = '&#9655;';
        }
    })

    countArrow.addEventListener('click', () => {
        const movieCountDiv = document.getElementById('movieCount');
        if (movieCountDiv.style.display === 'none') {
            movieCountDiv.style.display = 'block';
            countArrow.innerHTML = '&#9660;';
        } else {
            movieCountDiv.style.display = 'none';
            countArrow.innerHTML = '&#9655;';
        }
    })
    anySelectedCheckbox.addEventListener('change', () => {
        if (anySelectedCheckbox.checked) {
            allSelectedCheckbox.checked = false;
        }
    });

    allSelectedCheckbox.addEventListener('change', () => {
        if (allSelectedCheckbox.checked) {
            anySelectedCheckbox.checked = false;
        }
    });

    anyCheckbox.addEventListener('change', () => {
        if (anyCheckbox.checked) {
            genreCheckboxes.forEach(checkbox => {
                checkbox.checked = false;
            })
        }
    })
    genreCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            if (Array.from(genreCheckboxes).some(cb => cb.checked)) {
                anyCheckbox.checked = false;
            }
            else {
                anyCheckbox.checked = true;
            }
        })
    })
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".save-recommendation").forEach(button => {
            button.addEventListener("click", function () {
                const movie = this.getAttribute("data-movie");
                const expectedRating = this.getAttribute("data-rating");
                const genres = this.getAttribute("data-genres");
                const year = this.getAttribute("data-year");
                const button = this

                fetch("/save", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "Movie": movie,
                        "Expected Rating": expectedRating,
                        "genres": genres,
                        "year": year
                    })
                })
                .then(response => {
                    if (response.ok) {
                        button.innerText = "Saved";
                        button.disabled = true;
                    }
                });
            });
        });
    });
</script>
{% endblock %}