{% extends "base.html" %} {% block title %}Saved Recommendations{% endblock %}

{% block content %}
<br>
<table class="table">
    <thead>
        <tr>
            <th>Movie Title</th>
            <th>Expected Rating</th>
            <th>Genres</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for rec in user.recommendations %}
        <tr>
            <td>{{ rec.title }}</td>
            <td>{{ rec.expectedRating | round(2)}}/5.0</td>
            <td>{{ rec.genres }}</td>
            <td>{{ rec.year }}</td>
            <td>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <button class="delete" data-movie="{{ rec.title }}" title="Delete">
                        <i class="fas fa-trash"></i>
                    </button>
                    <button class="close" data-movie="{{ rec.title }}" title="Watched">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".delete").forEach(button => {
            button.addEventListener("click", function () {
                const movie = this.getAttribute("data-movie");
                const button = this

                fetch("/delete", {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "Movie": movie
                    })
                })
                .then(response => {
                    if (response.ok) {
                        button.closest("tr").remove();
                    }
                })
            });
        });
    });
</script>
{% endblock %}